/* Hides attribution links and other unwanted controls */
::ng-deep .gm-style .gmnoprint a,
::ng-deep .gm-style .gmnoprint div,
::ng-deep .gm-control-active,
::ng-deep .gm-style a,
::ng-deep .gm-style .gm-style-cc {
  display: none !important;
}

.map-container {
  pointer-events: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
