beehive-mind/data
beehive-mind/.idea
beehive-mind/__pycache__

beehive-front/.vscode

beehive-nest/target
beehive-nest/uploads
beehive-nest/.idea

beehive-guard/.idea
beehive-guard/target

beehive-front/node_modules
beehive-front/.angular

.env
running_pids.txt