.add-button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.add-button span {
  padding: 10px;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
